@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body{
    font-family: 'Arimo', sans-serif; 
}

/* TABLE AREA */
table{
    border:0.1em gray solid;
}

.delete_column{
    padding: 1.5em;
}

.img_column{
    padding:1.5em;

}

.name_column{
    width: 10em;
    text-align: left;
    padding: 1.5em;
}

.price_column{
    width: 10em;
    text-align: left;
    padding: 1.5em;
}

.quantity_column{
    width: 10em;
    text-align: left;
    padding:1.5em;
}

.total_column{
    width: 10em;
    text-align: left;
    padding:  1.5em;
}
/* TABLE AREA */

.cart_container{
    margin-top: 85px;
}

.item_quantity{
    max-width: 4em;
}

.item_total{
    border:0;
    background-color: transparent;
}

/* LABEL AREA  */

.label_area{
    padding: 2em 10em;
    background-color: #F9F9FA;
    border: 0.1em rgb(186, 186, 186);
    border-style: dashed none;
}

/* LABEL AREA  */

/* DETAIL AREA  */


.detail_area{
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.item_remove{
    border: 0;
    background-color: transparent;
    color: #4f4f4f;
    transition: 0.3s;
    cursor: pointer;
}

.item_remove:hover{
    color: gray;
}


.item_img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.item_name{
    cursor: pointer;
    color: #4f4f4f;
    transition: 0.3s;
}

.item_name:hover{
    color: gray;
}

.item_price{
    color: #4f4f4f;

}

.item_quantity{
    height: 3em;
    border: solid #b8b8b8 0.1em ;
    border-radius: 1em;
}

.item_quantity:focus{
    outline: none;
    border-color: black;
}

.item_total{
    font-family:  'Arimo';
    font-size: 16px;
}


/* DETAIL AREA  */

/* BILL AREA  */

.bill_area{
    display: flex;
    padding: 0 14em;
}

.bill_form{
    display: flex;
    flex-direction: column;
    width: 25em;
}

.bill_form>label{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border: 0.1em solid gray;
    padding: 0.5em;
    color: #342828;
}

.bill_form>label>input{
    background-color: transparent;
    font-family: 'Arimo';
    border:0;
    font-size: 16px;
    direction: rtl;
}

.bill_form>input{
    width: 15em;
}

.check_out_button{
    margin: 3em 0;
    padding: 1em 1.5em;
    border-radius: 5em;
    border: 0.1em solid transparent;
    background-color: #FE2F41;
    color: white;
    transition: 0.3s;
    font-family: 'Arimo';
    font-weight: bold;
}

.check_out_button:hover{
    color: #342828;
    background-color: white;
    border-color:#342828; 
}

/* BILL AREA  */
